<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Product List:</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Cost</th>
    </tr>
    <tr th:each="p : ${productsList}">
        <td th:text="${p.id}"/>
        <td th:text="${p.title}"/>
        <td th:text="${p.cost}"/>
        <td>
            <a th:href="@{http://localhost:8080/seeAllProductsPage/{id}(id = ${p.getId()})}">Link</a>
        </td>
    </tr>
</table>
<form action="/filteredProductsPage" method="post" id="form">
    <b>FILTER IPTION:</b>
    <b>enter type of filter "min" or "max" and then value:</b>
<input type="text" name="type"/>
    <input type="number" step="0.01" name="value"/>
<button>filter </button>
</form>
</body>
</html>